body {
    font-family: 'Cuprum', sans-serif;
    color: #000000;

    background-color: #ffffff;
}

.main-header {
    background-color: #f2f6f8;
}

.top-menu {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.top-menu a {
    color: #ffffff;

    text-decoration: none;
}

.main-header-logo {
    background-color: #ee3643;
    border-bottom: 5px solid rgba(0, 0, 0, 0.24);
}

.main-header-logo:hover,
.main-header-logo:focus {
    background-color: #ca2c37;
}

.main-header-logo:active {
    background-color: #ba2732;
}

.search-form {
    display: inline-block; /*  Временно  */
}

.search-form input {
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    color: #000000;

    background-color: #293449;
    border: none;
}

.search-form input:hover {
    background-color: #212a3a;
}

.search-form input:active,
.search-form input:focus {
    background-color: #ffffff;
}

.search-form input::placeholder {
    color: #ffffff;
}

.bookmarks,
.cart {
    background-color: #293449;
}

.bookmarks:hover,
.bookmarks:focus,
.cart:hover,
.cart:focus {
    background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
    background-color: #161d29;
}

.order {
    background-color: #63a63e;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #518534;
}

.main-heading {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: normal;

    color: #ee3643;
}

.header-contacts {
    font-size: 14px;
    line-height: 24px;

    color: #32425c;
    font-style: normal;
}

.phone-number {
    font-size: 21px;
    line-height: 21px;

    color: #e9292a;
    text-decoration: none;
    font-style: normal;

    border: 3px solid #ffffff;
}

.user-navigation {
    list-style: none;
}

.user-navigation a {
    font-size: 21px;
    line-height: 21px;

    color: #000000;
    text-decoration: none;

    background-color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
    color: #ee3643;
}

.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation {    
    background-color: #32425c;
}

.site-navigation {
    list-style: none;
}


.site-navigation a {
    font-size: 17px;
    line-height: 17px;

    color: #ffffff;
    text-decoration: none;

    background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #293449;
}

.site-navigation a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.services {
    background-color: #f4f8f9;
}

.services h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    
    color: #000000;
    text-transform: uppercase;
}

.services p {
    font-family: "PT Sans", Verdana, sans-serif;
    font-size: 13px;
    line-height: 24px;    
    color: #000000;
}

.services-item h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;    
    color: #32425c;
    text-transform: uppercase;
}

.services-list {
    list-style: none;
}

.services-list a {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;

    background-color: #32425c;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;v
}

.services-list a:hover,
.services-list a:active {
    background-color: #293449;
}

.services-list a:active {
    color: #32425c;

    background-color: #ffffff;
    border: none;
}

.send-button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;

    background-color: #ff5357;
}

.info h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
}

.info p {
    font-family: "PT Sans", Verdana, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.companies-list {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    list-style: none;
}

.info-item a {
    font-family: "Cuprum", Verdana, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;

    background-color: #ee3643;
}