body {
    font-family: 'Cuprum', sans-serif;
    color: #000000;

    background-color: #ffffff;
}

.main-header {
    background-color: #f2f6f8;
}

.top-menu {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.top-menu a {
    color: #ffffff;

    text-decoration: none;
}

.main-header-logo {
    background-color: #ee3643;
    border-bottom: 5px solid rgba(0, 0, 0, 0.24);
    margin-bottom: 50px;
}

.main-header-logo:hover,
.main-header-logo:focus {
    background-color: #ca2c37;
}

.main-header-logo:active {
    background-color: #ba2732;
}

.search-form{
    display: inline-block;
}

.search-form input {
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    color: #000000;

    background-color: #293449;
    border: none;
}

.search-form input:hover {
    background-color: #212a3a;
}

.search-form input:active,
.search-form input:focus {
    background-color: #ffffff;
}

.search-form input::placeholder {
    color: #ffffff;
}

.bookmarks,
.cart {
    background-color: #293449;
}

.bookmarks:hover,
.bookmarks:focus,
.cart:hover,
.cart:focus {
    background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
    background-color: #161d29;
}

.order {
    background-color: #63a63e;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #518534;
}